{% extends 'base.html' %}
{% block main %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="">{{ shuven.title }}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="">{{ shuven.title }}</a></span>
                <span class="post-date"><a href=""><time class="entry-date"></time></a></span>
                <span class="post-author"><a href="#">{{ shuven.author }}</a></span>
{#                <span class="comments-link"><a href="#">4 评论</a></span>#}
{#                <span class="views-count"><a href="#">588 阅读</a></span>#}
            </div>
        </header>
        <div class="entry-content clearfix">
            {{ shuven.body|safe }}
            <div class="widget-tag-cloud">
                <ul>
{#                    标签：#}
{#                    {% for tag in post.tags.all %}#}
{#                        <li><a href="{% url 'blog:tag' tag.pk %}"># {{ tag.name }}</a></li>#}
{#                    {% endfor %}#}
                </ul>
            </div>
        </div>
        <div class="entry-content clearfix">
{#            <p>{{ shuven.excerpt }}</p>#}
            <div class="read-more cl-effect-14">
                <a href="" class="more-link">爱你哟~ - ~ <span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>

    <!-- 简单分页效果
    <div class="pagination-simple">
        <a href="#">上一页</a>
        <span class="current">第 6 页 / 共 11 页</span>
        <a href="#">下一页</a>
    </div>
    -->
{% endblock main %}
{#{% block toc %}#}
{#{% endblock toc %}#}